.barber-pole, .small-barber-pole {
    position: relative;
    width: 30px;
    height: 150px;
    background: repeating-linear-gradient(
            25deg,
            red,
            red 10px,
            white 10px,
            white 20px,
            blue 10px,
            blue 30px
    );
    border: 2px solid black;
    border-radius: 10px;
    animation: barber-spin 6s linear infinite;
}

.small-barber-pole {
    width: 25px;
    height: 65px;
}

@keyframes barber-spin {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 300px; /* Dies sorgt dafür, dass die Animation ohne Unterbrechung weiterläuft */
    }
}
